@tailwind base;
@tailwind components;
@tailwind utilities;


.orange-theme {
  background-color: orange;
  color: black;
}

.black-theme {
  background-color: black;
  color: orange;
}

.icon-container {
  width: 24px; /* Adjust this value to set the desired icon size */
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
